﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car App</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Tyler's ASP.Net CarApp</h2>
        <p>This is a sample application that
            demonstrates how to use Entity Framework 6 in an 
            ASP.NET MVC 5 web application.</p>
    </div>
</div>